.artist {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

.artist__year  {
  color: #467A8A;
  font-size: 44vw;
  margin-top: -0.5em;
}
.artist__year > h2 {
  color: #467A8A;
  font-size: 44vw;
}
.artist__name {
  margin-top: -1.7em;
  font-size: 30vw;
}
.artist__nickname {
  margin-top: -1em;
  font-size: 9vw;
  position: relative;
}
.artist__nickname > p {
  color: #D6CBB3;
  padding-left: 0.2em;
  position: absolute;
}
.artist__nickname > .artist__nickname__back{
  width: 80vw;
  padding-top: 0.4em;
}
.artist__nickname > .artist__nickname__deco{
  position: absolute;
  left: -0.5em;
  top: 2.5em;
  width: 90vw;
}
.artist__image {
  margin-top: -2em;
}
.artist__image > img {
  width: 100vw;
  margin-top: auto;
}
.artist__quote {
  margin-top: -7.8em;
  font-size: 5vw;
  text-align: center;
  position: relative;
}
.artist__quote > p {
  color: #D6CBB3;
  position: absolute;
  padding-top: 2em;
  padding-left: 1em;
  width: 80vw;
}
.artist__harmonica {
  position: relative;
}
.artist__harmonica > p {
  font-size: 8vw;
  position: absolute;
  color: #D6CBB3;
  padding-left: 1em;
}
.artist__harmonica__back {
  width: 85vw;
}
.artist__fact {
  margin-top: -2em;
  position: relative;
}
.artist__fact > p {
  padding-left: 2em;
  padding-right: 1em;
  padding-top: 1.3em;
  text-align: center;
  font-size: 6vw;
  position: absolute;
  color: #D6CBB3;
}
.artist__fact > img {
  width: 95vw;
}
.artist__work {
  position: relative;
}
.artist__work > p {
  color: #D6CBB3;
  position: absolute;
}
.artist__work > img {
  width: 90vw;
}

/* bob */
.bob {
  margin-top: 20em;
}
.bob__image {
  margin-top: -10em;
}
.bob__name {
  text-align: center;
  font-size: 25vw;
  line-height: 1em;
}
.bob__nickname {
  padding-top: 0.5em;
  font-size: 7vw;
}
.bob__nickname__back {
  width: 100vw;
}
.bob__quote {
  margin-top: -12em;
  margin-bottom: 6em;
}

/* stevie */
.stevie {
  margin-top: 20em;
}
.stevie__name {
  text-align: center;
  font-size: 25vw;
  line-height: 1em;
}
.stevie__image {
  margin-top: -10em;
}
.stevie__quote {
  margin-top: -8em;
  margin-bottom: 6em;
}

/* west */
.west {
  margin-top: 20em;
}
.west__name {
  text-align: center;
  font-size: 15vw;
  line-height: 1em;
  margin-top: -2.4em;
}
.west__nickname {
  margin-top: -0.8em;
}
.west__image {
  margin-top: 1em;
}
.west__quote {
  margin-top: -12em;
}
.west__quote > p {
  margin-top: -0.2em;
}

/* john */
.john {
  margin-top: 20em;
}
.john__image {
  margin-top: -6em;
}
.john__name {
  text-align: center;
  font-size: 25vw;
  line-height: 1em;
  margin-top: -1.6em;
}
.john__nickname {
  padding-top: 0.5em;
  font-size: 8vw;
}
.john__quote {
  margin-top: -12em;
  margin-bottom: 6em;
}

/* jason */
.jason {
  margin-top: 20em;
}
.jason__image {
  margin-top: -6em;
}
.jason__name {
  text-align: center;
  font-size: 30vw;
  line-height: 1em;
  margin-top: -1.2em;
}
.jason__nickname {
  padding-top: 0.5em;
  font-size: 7vw;
}
.jason__quote {
  margin-top: -16em;
  margin-bottom: 6em;
}