.artist {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.artist__year {
  color: #467A8A;
  font-size: 50vw;
}
.artist__name {
  margin-top: -0.5em;
  font-size: 30vw;
}
.artist__nickname {
  margin-top: -1em;
  font-size: 10vw;
  position: relative;
}
.artist__nickname > p {
  color: #D6CBB3;
  padding-left: 0.2em;
  position: absolute;
}
.artist__nickname > .artist__nickname__back{
  width: 80vw;
  padding-top: 0.4em;
}
.artist__nickname > .artist__nickname__deco{
  position: absolute;
  left: -0.5em;
  top: 2.5em;
  width: 90vw;
}
.artist__image {
  margin-top: 2em;
}
.artist__image > img {
  width: 100vw;
  margin-top: auto;
}
.artist__quote {
  margin-top: -7.8em;
  font-size: 5vw;
  text-align: center;
  position: relative;
}
.artist__quote > p {
  color: #D6CBB3;
  position: absolute;
  padding-top: 2em;
  padding-left: 1em;
  width: 80vw;
}
.artist__harmonica {
  position: relative;
}
.artist__harmonica > p {
  font-size: 8vw;
  position: absolute;
  color: #D6CBB3;
  padding-left: 1em;
}
.artist__harmonica__back {
  width: 85vw;
}
.artist__fact {
  margin-top: -2em;
  position: relative;
}
.artist__fact > p {
  padding-left: 2em;
  padding-right: 1em;
  padding-top: 1.3em;
  text-align: center;
  font-size: 6vw;
  position: absolute;
  color: #D6CBB3;
}
.artist__fact > img {
  width: 95vw;
}
.artist__work {
  position: relative;
}
.artist__work > p {
  color: #D6CBB3;
  position: absolute;
}
.artist__work > img {
  width: 90vw;
}

/* bob */
.bob {
  margin-top: 20em;
}

.bob__image {
  margin-top: -4em;
}

/* stevie */
.stevie {
  margin-top: 20em;
}

/* west */
.west {
  margin-top: 20em;
}

/* john */
.john {
  margin-top: 20em;
}
.john__image {
  margin-top: 1em;
}

/* jason */
.jason {
  margin-top: 20em;
}
.jason__image {
  margin-top: -1em;
}

