.nav {
  height: 5em;
  width: 100vw;
  background-image: url("/assets/svg/nav-back.svg");
  background-cover: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  color: #d6cbb3;
  padding-left: 1em;
}

.nav-title > a > img {
  width: clamp(5em, 8em, 10em);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  padding-right: 1em;
  float: right;
  font-size: clamp(1.2em, 1.5vw, 1.5rem);
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #d6cbb3;
}

.nav > .nav-links > a:hover {
  color: rgb(255, 149, 0);
}

.nav > #nav-check {
  display: none;
}

.arrow {
  display: none;
}

@media (max-width: 620px) {
  .nav {
    background-position: 10%;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 1.5em;
    padding-right: 4em;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    background-image: url("/assets/svg/background-dropdown.svg");
    background-size: cover;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 4em;
    left: 0px;
    padding-top: 2em;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: clamp(1em, 2em, 4em);
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    display: none;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh);
    overflow-y: auto;
  }
}

@media screen and (min-width: 620px) and (max-width: 1100px) {
  .nav {
    background-position: 10%;
    width: 100vw;
  }
  .nav > .nav-links > a:nth-child(n+3) {
    display: none;
    color: #d6cbb3;
  }
  .nav > .nav-links > a:nth-child(2):hover ~ .drop {
    display: inline-block;
  }
  .arrow {
    display: unset;
  }
}
