html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #D6CBB3;
}

body {
  overflow-x: hidden;
}

.title {
  font-family: doublebass, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text {
  font-family: bilo, sans-serif;
  font-weight: 500;
  font-style: normal;
}


a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
}

.part_one {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.header__title {
  position: relative;
}
.header__title > h1{
  font-size: 16vw;
  margin-left: 0.2em;
  position: absolute;
  color: #D6CBB3;
}
.header__title > img{
  width: 92vw;
  margin-top: 1.7em;
}
.header__undertitle {
  margin-top: -1.7em;
  display: inline-flex;
  margin-right: 2em;
  align-self: end;
  text-align: center;
  position: relative;
}
.header__undertitle > p {
  position: absolute;
  font-size: 8vw;
  color: #D6CBB3;
  margin-left: 0.2em;
}
.header__undertitle > img {
  width: 60vw;
  margin-top: 1.4em;
}

.header__button {
  align-self: center;
  text-align: center;
  font-size: 6vw;
}

.intro {
  display: flex;
  align-self: end;
  margin-top: 20em;
  text-align: center;
  font-size: 8vw;
  height: 100vh;
}

.parts {
  margin-top: -20em;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
}
.parts__piece {
  position: absolute;
  width: 30%;
}
.parts__piece:hover {
  width: 35%;
}
.parts > p {
  position: absolute;
  font-size: 10vw;
  text-align: center;
  bottom: 2em;
}

/* harmonica animation */
.harmonica {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
  animation: float 6s ease-in-out infinite;
}

.harmonica__wrapper {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;
}

.harmonica__image {
  width: calc(100% * 8);
  height: auto;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0);
		transform: translatey(0px);
	}
}

/* kinds */
.kinds {
  height: 100vh;
  display: flex;
  
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  margin-bottom: 20em;
}
.kinds__kind {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.kinds__kind > .kind {
  position: absolute;
  width: 30%;
  bottom: 1em;
}
.kinds__kind > .back {
  width: 60vw;
}
.kinds__kind > p {
  font-size: 15vw;
  padding-bottom: 4em;
}
.kinds::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.kinds::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.kinds::-webkit-scrollbar-track {
  background: transparent;
}
.kinds > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.kinds > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.kinds > a:active {
  top: 1px;
}
.kinds > a:focus {
  background: #000;
}

.noteworthy {
  height: 100vh;
  margin-top: 20em;
}