body {
  background-color: #D6CBB3;
  overflow-x: hidden;
}

.normal_font {
  font-family: doublebass, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-with-apple {
  position: relative;
}

.header {
  height: 100vh;
}

.intro {
  height: 100vh;
}

.kinds {
  height: 100vh;
}

.apple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}

.apple__wrapper {
  width: 50vw;
  height: 50vw;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;
}

.apple__image {
  width: calc(100% * 8);
  height: auto;
}